extends layout

block content
  p Insert to todos
  form(action='/todo' method='post')
    label(for='input-name') Insert name
    input#input-name(name='name')
    label(for='input-task') Insert task
    input#input-task(name='task')
    button#submit-data Submit
  p Or search for todos
  form(action='/user/' method='get')
    label(for='search-name') Search for name
    input#search-name(name='name')
    button#search Search


  p My todos
  ul
    for user in users
      li=user.name
      ul
        each task in user.tasks
          li=task
    else
      li Sorry, no users!
